@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');


@media only screen and (max-width: 768px) {
    .desktop {display: none;}
    h1, h2, h3, h4, h5, h6 {font-size: 0.5em;}
    footer {align-items: center;}
}
