@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

:root {color-scheme: light dark;}


body {font-family: Heebo, Arial, sans-serif;
      margin-top: 4ex;
      max-width: 21cm;
      margin: 0 auto;
      color: light-dark(black, white);
      background-color: light-dark(white, black);
      /* text-align: right; */}


a {color: light-dark(rgb(0, 0, 142), rgb(0, 150, 255));}


h2 {cursor: pointer}


span.theorem_label, span.definition_label, span.corollary_label, span.lemma_label,
span.theorem__label, span.definition__label, span.corollary__label, span.lemma__label, ol, li, ul {line-height: 200%;}


/* Layout-provided Styles */
del.strikeout {
  text-decoration: line-through;}

div.standard {
  margin-bottom: 0.7ex;}

/* div.plain_layout {
  text-align: right;} */

h1.title {
  font-size: x-large;
  margin-bottom: 0.7ex;
  text-align: center;}

h2.section {
  font-weight: bold;
  font-style: normal;
  font-variant: small-caps;
  font-size: x-large;
  margin-top: 0.7ex;
  margin-bottom: 0.7ex;
  /* text-align: right; */}

.open {
  border-bottom-style: solid;}

.nested {
  display: none;}

.active {
  display: block;}

div.theorem {
  font-size: medium;
  margin-top: 0.7ex;
  margin-bottom: 0.7ex;
  /* text-align: right; */}

span.theorem_label {
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  font-size: medium;}

div.definition {
  font-size: medium;
  margin-top: 0.7ex;
  margin-bottom: 0.7ex;
  /* text-align: right; */}

span.definition_label {
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  font-size: medium;}

ol.enumi   {list-style-type: decimal;}
ol.enumii  {list-style-type: lower-latin;}
ol.enumiii {list-style-type: lower-roman;}
ol.enumiv  {list-style-type: upper-latin;}
ol.lyxlist {list-style-type: none;}

li.labeling_item {
  text-indent: -3.42em;
  margin-left: 5em;}

span.lyxlist {
  text-indent: 1em;
  margin-right: 1em;
  padding-left: 1.3em;}

ul.lyxitemi {list-style-type: disc;}
ul.lyxitemii {list-style-type: circle;}
ul.lyxitemiii {list-style-type: square;}

ul.itemize {
  margin-top: 0.7ex;
  margin-bottom: 0.7ex;
  margin-left: 3ex;
  /* text-align: right; */}

h3.subsection {
  font-weight: bold;
  font-size: large;
  margin-top: 0.7ex;
  margin-bottom: 0.7ex;
  /* text-align: right; */}

div.corollary {
  font-size: medium;
  margin-top: 0.7ex;
  margin-bottom: 0.7ex;
  /* text-align: right; */}

span.corollary_label {
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  font-size: medium;}

div.lemma_ {
  font-size: medium;
  margin-top: 0.7ex;
  margin-bottom: 0.7ex;
  /* text-align: right; */}

span.lemma__label {
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: medium;}

div.lemma {
  font-size: medium;
  margin-top: 0.7ex;
  margin-bottom: 0.7ex;
  /* text-align: right; */}

span.lemma_label {
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: medium;}

div.claim_ {
  font-size: medium;
  margin-top: 0.7ex;
  margin-bottom: 0.7ex;
  /* text-align: right; */}

span.claim__label {
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  font-size: medium;}

div.claim {
  font-size: medium;
  margin-top: 0.7ex;
  margin-bottom: 0.7ex;
  /* text-align: right; */}

span.claim_label {
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  font-size: medium;}

div.proof {
  font-style: normal;
  font-variant: normal;
  font-size: medium;
  margin-top: 0.7ex;
  margin-bottom: 0.7ex;
  /* text-align: right; */}

div.theorem_ {
  font-size: medium;
  margin-top: 0.7ex;
  margin-bottom: 0.7ex;
  /* text-align: right; */}

span.theorem__label {
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  font-size: medium;}

span.foot_label {
  vertical-align: super;
  font-size: smaller;
  cursor: pointer;}

div.foot {
  display: inline;
  font-size: small;
  font-weight: normal;
  font-family: Heebo, Arial, sans-serif;
  font-variant: normal;
  font-style: normal;}

div.foot_inner {display: none; font-family: Arial, sans-serif; line-height: 100%;}

div.foot:hover div.foot_inner {
  width: fit-content;
  z-index: 1;
  position: absolute;
  display: inline;
  background-color: light-dark(lightgray, rgb(50, 50, 50));
  padding: 0.5em;}

div.float-figure {
  text-align: center;
  padding: 1ex;}

div.float-caption-Standard {
  text-align: center;
  border: 2px solid black;
  padding: 0.7ex;
  margin: 0.7ex;}
