@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Suez+One&display=swap');


@media only screen and (max-width: 950px) {
    .desktop {display: none;}
    .desktop * {display: none;}
}

.justify {text-align: justify;}

ul li ul li ul li ul {list-style-type: "- ";}

span.inset.Foot span.label {
    display: inline;
    vertical-align: super;
    font-size: 0.7em;
    cursor: pointer;
}
span.inset.Foot span.layout.Plain.Layout {display: none;}
span.inset.Foot:hover span.layout.Plain.Layout  {
    display: inline;
    width: fit-content;
    font-size: small;
    position: absolute;
    background-color: light-dark(lightgray, rgb(50, 50, 50));
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    z-index: 1;
}
