@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Suez+One&display=swap');


.desktop {display: none;}
.desktop * {display: none;}

@media only screen and (min-width: 950px) {
    .desktop {display: block;}
    .desktop * {display: block;}
    .mobile {display: none;}
    .mobile * {display: none;}
}


.justify {text-align: justify;}
