@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Suez+One&display=swap');


body {
    font-family: Heebo, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Suez One", serif;
}

#content_column {
    overflow-x: auto;
    overflow-y: hidden;
}

#content_column * {
    font-size: small;
}

#toc_container * {
    font-size: small;
}

#tools_container * {
    font-size: small;
}
