@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Suez+One&display=swap');


body {
    font-family: Heebo, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Suez One", serif;
}

#content_column {
    width: 0.6vw; /* Fixed width */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
    white-space: nowrap; /* Keep content in a single line */
}

#content_column * {
    display: inline-block; /* Ensures proper height adjustment */
}
